amqp==2.4.1
anyjson==0.3.3
billiard==3.5.0.5
celery==4.2.1
Django==2.1.7
django-appconf==1.0.3
django-avatar==4.1.0
django-cors-headers==2.4.0
django-haystack==2.8.1
django-redis==4.10.0
django-tinymce==2.8.0
djangorestframework==3.9.2
drf-haystack==1.8.4
elasticsearch==6.3.1
itsdangerous==1.1.0
jieba==0.39
kombu==4.3.0
Pillow==9.0.0
pymongo==3.7.2
PyMySQL==0.9.3
pytz==2018.9
redis==3.2.0
six==1.12.0
vine==1.2.0
python-dateutil==2.8.0
pytz==2018.9
redis==3.2.0
six==1.12.0
urllib3==1.24.1
vine==1.2.0
Whoosh==2.7.4